# yfinance test

Documentation: https://pypi.org/project/yfinance/

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
nvda = yf.Ticker("NVDA")

# get historical market data
hist = nvda.history(period="6mo")
hist.shape

(125, 7)

In [2]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-09-27 00:00:00-04:00,423.242923,428.662206,416.233889,424.622742,44493500,0.0,0.0
2023-09-28 00:00:00-04:00,424.542779,434.401435,421.093232,430.831940,42466300,0.0,0.0
2023-09-29 00:00:00-04:00,438.210892,441.380478,433.011611,434.931335,39722100,0.0,0.0
2023-10-02 00:00:00-04:00,440.240638,451.689106,438.550863,447.759644,43329800,0.0,0.0
2023-10-03 00:00:00-04:00,448.019560,451.239127,432.401672,435.111328,47085000,0.0,0.0
...,...,...,...,...,...,...,...
2024-03-20 00:00:00-04:00,897.969971,904.099976,882.229980,903.719971,47906300,0.0,0.0
2024-03-21 00:00:00-04:00,923.000000,926.479980,904.049988,914.349976,48037200,0.0,0.0
2024-03-22 00:00:00-04:00,911.409973,947.780029,908.340027,942.890015,58521500,0.0,0.0
2024-03-25 00:00:00-04:00,939.409973,967.659973,935.099976,950.020020,55213600,0.0,0.0
2024-03-26 00:00:00-04:00,958.510010,963.750000,925.020020,925.609985,51141000,0.0,0.0

In [3]:
hist['var']=hist['Close']-hist['Open']
hist['p_var']=(hist['var']/hist['Close'])*100
hist['f_alza'] = hist['var'].apply(lambda x: 1 if x>0 else 0)

In [4]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,var,p_var,f_alza
Date,,,,,,,,,,
2023-09-27 00:00:00-04:00,423.242923,428.662206,416.233889,424.622742,44493500,0.0,0.0,1.379819,0.324952,1
2023-09-28 00:00:00-04:00,424.542779,434.401435,421.093232,430.831940,42466300,0.0,0.0,6.289161,1.459771,1
2023-09-29 00:00:00-04:00,438.210892,441.380478,433.011611,434.931335,39722100,0.0,0.0,-3.279556,-0.754040,0
2023-10-02 00:00:00-04:00,440.240638,451.689106,438.550863,447.759644,43329800,0.0,0.0,7.519006,1.679250,1
2023-10-03 00:00:00-04:00,448.019560,451.239127,432.401672,435.111328,47085000,0.0,0.0,-12.908232,-2.966650,0
...,...,...,...,...,...,...,...,...,...,...
2024-03-20 00:00:00-04:00,897.969971,904.099976,882.229980,903.719971,47906300,0.0,0.0,5.750000,0.636259,1
2024-03-21 00:00:00-04:00,923.000000,926.479980,904.049988,914.349976,48037200,0.0,0.0,-8.650024,-0.946030,0
2024-03-22 00:00:00-04:00,911.409973,947.780029,908.340027,942.890015,58521500,0.0,0.0,31.480042,3.338676,1
2024-03-25 00:00:00-04:00,939.409973,967.659973,935.099976,950.020020,55213600,0.0,0.0,10.610046,1.116823,1
2024-03-26 00:00:00-04:00,958.510010,963.750000,925.020020,925.609985,51141000,0.0,0.0,-32.900024,-3.554415,0

In [5]:
hist['f_alza'].mean()

0.576

In [6]:
hist['p_var'].describe()

count    125.000000
mean       0.234052
std        2.035077
min       -8.694358
25%       -0.791443
50%        0.362878
75%        1.427677
max        5.245638
Name: p_var, dtype: float64

In [7]:
tickers = ['NVDA']
for ticker in tickers:
    ticker_yahoo = yf.Ticker(ticker)
    data = ticker_yahoo.history()
    last_quote = data['Close'].iloc[-1]
    print(ticker, last_quote)

NVDA 925.6099853515625

In [8]:
tickers = ['NVDA']
for ticker in tickers:
    ticker_yahoo = yf.Ticker(ticker)
    data = ticker_yahoo.history()
    last_quote = data['Close'].iloc[-1]
    print(ticker, last_quote)

NVDA 925.6099853515625

In [9]:
yf.download("NVDA", start='2024-03-26', period='1d', interval="1m")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-03-26 09:30:00-04:00,958.479980,959.000000,954.469971,958.690002,958.690002,1590459
2024-03-26 09:31:00-04:00,958.979919,959.000000,956.700073,956.922729,956.922729,245757
2024-03-26 09:32:00-04:00,957.419983,960.799377,957.030029,958.409973,958.409973,413414
2024-03-26 09:33:00-04:00,958.289978,960.000000,956.320007,958.924988,958.924988,302691
2024-03-26 09:34:00-04:00,959.119873,961.619995,958.500000,960.354980,960.354980,304431
...,...,...,...,...,...,...
2024-03-26 15:55:00-04:00,930.400024,930.400024,927.369995,927.460022,927.460022,397766
2024-03-26 15:56:00-04:00,927.390015,928.650024,925.549988,925.963989,925.963989,385082
2024-03-26 15:57:00-04:00,925.929993,927.320007,925.740112,926.049988,926.049988,351876
2024-03-26 15:58:00-04:00,926.130005,927.429993,925.650024,926.409973,926.409973,441970
2024-03-26 15:59:00-04:00,926.409973,927.380005,925.020020,925.729980,925.729980,725652

In [10]:
apple= yf.Ticker("aapl")

# show actions (dividends, splits)
apple.actions

# show dividends
apple.dividends

# show splits
apple.splits

Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64